In [1]:
import pandas as pd
data = pd.read_csv('streamlit_data_anonymous.csv')

,Number of Fairs Attended,Internship Applications,Job Applications,Fellowship Applications,Graduate School,Cooperative Education,Experiential Learning,On Campus Student Employment,Volunteer,First Gen,College_fds_2024,Number of Internships,Career Readiness,Alignment,Q10.4_fds_2024,Q10.5_fds_2024
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31605,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False,NaN,NaN,NaN,NaN,NaN,NaN
31606,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31607,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31608,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31609,2,83.0,26.0,0.0,0.0,0.0,0.0,9.0,0.0,False,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data[data['College_fds_2024'] == 'College of Arts and Sciences'].groupby('Major_fds_2024').value_counts(normalize=True)

KeyError: 'Major_fds_2024'